#header {
    background-color: white;
    height: 3em;
    left: 0;
    line-height: 1.5em;
    padding: 0 1.25em;
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 5%;
    text-decoration:none ;
      color: rgba(127	38	167	) ;
  }
  .navBar>*{
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      list-style: none;
      margin: 10px 0;
  }
  .navBar>ul *{
    text-decoration: none;
    font-family: 'Marcellus';
    
    color: rgba(127	38	167	);
  }
  a.contactButton, a.donateButton{
      background-color: rgba(127	38	167	);
      border-radius: 3px;
      padding: 5px;
      color: white;
      text-decoration: none;
  }
