@import url("https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Marcellus&display=swap");

html,
body,
header,
nav,
a,
img,
ul,
li,
main,
section,
footer {

    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "Marcellus";

}

/* NAV BAR STYLE */

#header {

    background-color: white;
    height: 3em;
    left: 0;
    line-height: 1.5em;
    padding: 0 1.25em;
    position: fixed;
    top: 0;
    width: 100%;

    text-decoration: none;
    color: rgba(127 38 167);
}

.navBar>* {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
    margin: 10px 0;

}

.navBar>ul * {
    text-decoration: none;
    font-family: "Marcellus";

    color: rgba(127 38 167);
}

a.contactButton,
a.donateButton {
    background-color: rgba(127 38 167);
    border-radius: 3px;
    padding: 5px;
    color: white;
    text-decoration: none;
}

/* NAV BAR STYLE */

/* **************************
        HOME   BY ABRAHAM
************************** */


.home {
    background-image: linear-gradient(to bottom, #ffffff, #e7c6ff);
  
}

.headerContainer {
    height: 75vh;
    margin-top: 3em;
    padding-top: 1em;
    background-image: linear-gradient(rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.18)), url(../Images/heroImage.png);
    background-size: cover;
    box-shadow: 0px 10px 10px #251b26;
}

.mainContainer {
    width: 1200px;

    left: 50%;
    top: 50%;
    transform: translate(8%, 35%);
    text-align: center;

}

.mainContainer img {
    width: 650px;
    height: auto;
}

.aboutUsHome {

    display: grid;
    grid-template-columns: 1.5fr 1fr;
    color: #ffffff;
    padding: 50px 25px;
    background: rgb(74, 36, 129);
    background: linear-gradient(to bottom right,
            rgba(255, 255, 255, 1) 0%,
            rgba(170, 73, 199, 1) 59%,
            rgba(74, 36, 129, 1) 100%);
    margin: 5em 15em 0em 15em;
    box-shadow: 0px 10px 10px #251b26;
}

.aboutUsHome img:nth-child(1) {
    grid-row: 1/3;
    align-self: center;

}

.aboutUsHome img {
    width: 75%;
    margin-left: 3em;
}

.aboutUsHome h2 {
    text-align: center;
    font-size: 42px;
    margin-bottom: 48px;
}

.aboutUsHome p {
    text-align: center;
    font-size: 15px;
}

.resourcesHome {
    padding: 75px 25px;
}

.resourcesInfo {
    margin: 0em 15em;
}

.resourcesItems {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    padding-top: 40px;
}

.resourcesHome h2 {
    font-size: 45px;
    text-align: center;
}

.resourcesHome p {
    text-align: center;
}

.rLinks {
    display: flex;
    flex-direction: column;
    background-color: #e7dfff;
    box-shadow: 0px 10px 10px #5b5262;
    align-self: center;
    justify-self: center;
    height: 700px;
    width: 45vh;
}

.rLinks h3 {
    font-size: 35px;
    margin-bottom: 20px;
    padding: 15px 20px 0px 20px
}

.rLinks img {
    margin-bottom: 15px;
    max-width: 410.5px;
    height: auto;
}

.rLinks p {
    padding: 15px 20px 0px 20px
}

.buttonHome:link,
.buttonHome:visited {
    font-size: 14px;
    font-weight: 700;
    background-color: #360d49;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 15px 15px;
    border-radius: 10px;
    margin: 3em 8em 0em
}



/* JOSH'S PAGE START */
h1 {
    font-size: 3.5em;
    color: white;
  
    font-family: "Marcellus";

}

p.giPara {
    font-size: 1em;
    color: white;
    font-family: "Marcellus";
}

#giWrapper {
    background: url(https://i.postimg.cc/bv3Xr2Gh/cover.png);
    height: 70vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: static;
}

.mainSection {

    margin: 7% 7%;
    position: absolute;
    display: flex;
    flex-direction: column;

}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-family: "Marcellus";
}

.wrapper>section h2 {
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}

div>section {
    padding: 5%;
}

.middleSection {
    background: rgb(74, 36, 129);
    background: linear-gradient(180deg,
            rgba(74, 36, 129, 1) 0%,
            rgba(170, 73, 199, 1) 59%,
            rgba(255, 255, 255, 1) 100%);
    color: white;
}

.otherTwo {
    color: rgba(127 38 167);
}

div>.otherTwo h2 {
    border-bottom: 2px solid rgba(127 38 167);
    padding-bottom: 5px;
}

.sectionImg {
    padding: 5px;
}

/* JOSH PAGE ENDING */



/* Indy Start */


.bodyContact {
    background-image: linear-gradient(to bottom, #ffffff, #e7c6ff);
    position: relative;
    font-size: 1.5rem;
    padding: 1.5rem 1.25rem;
    margin-top: 2.75rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    width: 100%;
    color: rgba(127 38 167);
}

section.container>form * {
    display: flex;
    flex-direction: column;


}

input,
select,
textarea {

    width: 100%;
    padding: 12px;
    border: .175rem solid rgba(127 38 167);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: rgba(127 38 167);
    color:white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.5rem;
}


/* Indy Ending */


a.contactButton,
a.donateButton {
    background-color: rgba(127 38 167);
    border-radius: 3px;
    padding: 5px;
    color: white;
    text-decoration: none;
}



/* *********************
        FOOTER 
 **********************/
/*BY INDIA AND ABRAHAM */


.footerContainer {
    background: linear-gradient(to bottom,
            rgb(170, 73, 199, 1) 2%,
            rgb(74, 36, 129, 1) 54%,
            rgb(23, 10, 39));
    color: #ffffff;
    padding-top: 20px;
}

.footerContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footerContent img {
    max-width: 5em;
    height: auto;
}

.footerContent h3 {
    font-size: 25px;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 3rem;
    margin-bottom: 15px;
}

.footerContent p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socialLinks {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
    font-size: 12px;
}


.socialLinks li {
    margin: 0 10px;
}

.socialLinks a {
    text-decoration: none;
    color: #ffffff;

}

.socialLinks a i {
    font-size: 30px;
}
